In [30]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

1948 Table

In [31]:
#Because of inconsistencies in how the data is formatted we will actually need to scrape and clean tables one at a time

df_1948 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1948"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1948

#create the dataframe using append and concat
df_1948.append(dataframe)
df_1948 = pd.concat(df_1948, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1948["State"] = df_1948[0]
df_1948["Total Votes"] = df_1948[1]
df_1948["Republican Votes"] = df_1948[5]
df_1948["Republican Percentage"] = df_1948[6]
df_1948["Republican Electoral"] = df_1948[7]
df_1948["Democratic Votes"] = df_1948[2]
df_1948["Democratic Percentage"] = df_1948[3]
df_1948["Democratic Electoral"] = df_1948[4]
df_1948["President Elect"] = str("Harry S Truman")
df_1948["Winning Party"] = str("D")

#Remove all duplicate columns
df_1948 = df_1948[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 11 rows of the data
df_1948 = df_1948.iloc[12:].reset_index(drop = True)
#Drop every row below 48
df_1948 = df_1948.iloc[:48].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1948.head(), df_1948.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/2096849562.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,214980,40930,19.0,NaN,--,0.0,NaN,Harry S Truman,D,1948
1,Arizona,177065,77597,43.8,NaN,95251,53.8,4,Harry S Truman,D,1948
2,Arkansas,242475,50959,21.0,NaN,149659,61.7,9,Harry S Truman,D,1948
3,California,4021538,1895269,47.1,NaN,1913134,47.6,25,Harry S Truman,D,1948
4,Colorado,515237,239714,46.5,NaN,267288,51.9,6,Harry S Truman,D,1948
43,Virginia,419256,172070,41.0,NaN,200786,47.9,11,Harry S Truman,D,1948
44,Washington,905058,386314,42.7,NaN,476165,52.6,8,Harry S Truman,D,1948
45,West Virginia,748750,316251,42.2,NaN,429188,57.3,8,Harry S Truman,D,1948
46,Wisconsin,1276800,590959,46.3,NaN,647310,50.7,12,Harry S Truman,D,1948
47,Wyoming,101425,47947,47.3,NaN,52354,51.6,3,Harry S Truman,D,1948

1952 Table

In [32]:
#Because of inconsistencies in how the data is formatted we will actually need to scrape and clean tables one at a time

df_1952 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1952"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1952

df_1952.append(dataframe)
df_1952 = pd.concat(df_1952, ignore_index = True)

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1941760809.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

In [33]:
pd.concat([df_1948.head(), df_1948.tail(10)])

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,214980,40930,19.0,NaN,--,0.0,NaN,Harry S Truman,D,1948
1,Arizona,177065,77597,43.8,NaN,95251,53.8,4,Harry S Truman,D,1948
2,Arkansas,242475,50959,21.0,NaN,149659,61.7,9,Harry S Truman,D,1948
3,California,4021538,1895269,47.1,NaN,1913134,47.6,25,Harry S Truman,D,1948
4,Colorado,515237,239714,46.5,NaN,267288,51.9,6,Harry S Truman,D,1948
38,South Dakota,250105,129651,51.8,4,117653,47.0,NaN,Harry S Truman,D,1948
39,Tennessee,550283,202914,36.9,NaN,270402,49.1,11,Harry S Truman,D,1948
40,Texas,1147245,282240,24.6,NaN,750700,65.4,23,Harry S Truman,D,1948
41,Utah,276306,124402,45.0,NaN,149151,54.0,4,Harry S Truman,D,1948
42,Vermont,123382,75926,61.5,3,45557,36.9,NaN,Harry S Truman,D,1948
43,Virginia,419256,172070,41.0,NaN,200786,47.9,11,Harry S Truman,D,1948
44,Washington,905058,386314,42.7,NaN,476165,52.6,8,Harry S Truman,D,1948
45,West Virginia,748750,316251,42.2,NaN,429188,57.3,8,Harry S Truman,D,1948
46,Wisconsin,1276800,590959,46.3,NaN,647310,50.7,12,Harry S Truman,D,1948
47,Wyoming,101425,47947,47.3,NaN,52354,51.6,3,Harry S Truman,D,1948

In [34]:
df_1952["State"] = df_1952[0]
df_1952["Total Votes"] = df_1952[1]
df_1952["Republican Votes"] = df_1952[2]
df_1952["Republican Percentage"] = df_1952[3]
df_1952["Republican Electoral"] = df_1952[4]
df_1952["Democratic Votes"] = df_1952[5]
df_1952["Democratic Percentage"] = df_1952[6]
df_1952["Democratic Electoral"] = df_1952[7]
df_1952["President Elect"] = str("Dwight D. Eisenhower")
df_1952["Winning Party"] = str("R")

df_1952 = df_1952[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

df_1952 = df_1952.iloc[11:].reset_index(drop = True)
df_1952 = df_1952.iloc[:48].reset_index(drop = True)

In [35]:
pd.concat([df_1952.head(), df_1952.tail()])

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,426120,149231,35.0,NaN,275075,64.6,11,Dwight D. Eisenhower,R,1952
1,Arizona,260570,152042,58.3,4,108528,41.7,NaN,Dwight D. Eisenhower,R,1952
2,Arkansas,404800,177155,43.8,NaN,226300,55.9,8,Dwight D. Eisenhower,R,1952
3,California,5141849,2897310,56.3,32,2197548,42.7,NaN,Dwight D. Eisenhower,R,1952
4,Colorado,630103,379782,60.3,6,245504,39.0,NaN,Dwight D. Eisenhower,R,1952
43,Virginia,619689,349037,56.3,12,268677,43.4,NaN,Dwight D. Eisenhower,R,1952
44,Washington,1102708,599107,54.3,9,492845,44.7,NaN,Dwight D. Eisenhower,R,1952
45,West Virginia,873548,419970,48.1,NaN,453578,51.9,8,Dwight D. Eisenhower,R,1952
46,Wisconsin,1607370,979744,61.0,12,622175,38.7,NaN,Dwight D. Eisenhower,R,1952
47,Wyoming,129253,81049,62.7,3,47934,37.1,NaN,Dwight D. Eisenhower,R,1952

1954 table

In [36]:


df_1956 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1956"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1956

#create the dataframe using append and concat
df_1956.append(dataframe)
df_1956 = pd.concat(df_1956, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1956["State"] = df_1956[0]
df_1956["Total Votes"] = df_1956[1]
df_1956["Republican Votes"] = df_1956[2]
df_1956["Republican Percentage"] = df_1956[3]
df_1956["Republican Electoral"] = df_1956[4]
df_1956["Democratic Votes"] = df_1956[5]
df_1956["Democratic Percentage"] = df_1956[6]
df_1956["Democratic Electoral"] = df_1956[7]
df_1956["President Elect"] = str("Dwight D. Eisenhower")
df_1956["Winning Party"] = str("R")

#Remove all duplicate columns
df_1956 = df_1956[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 10 rows of the data
df_1956 = df_1956.iloc[11:].reset_index(drop = True)
#Drop every row below 48
df_1956 = df_1956.iloc[:48].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1956.head(), df_1956.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/3994886160.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama*,496861,195694,39.4,NaN,280844,56.5,10*,Dwight D. Eisenhower,R,1956
1,Arizona,290173,176990,61.0,4,112880,38.9,NaN,Dwight D. Eisenhower,R,1956
2,Arkansas,406572,186287,45.8,NaN,213277,52.5,8,Dwight D. Eisenhower,R,1956
3,California,5466355,3027668,55.4,32,2420135,44.3,NaN,Dwight D. Eisenhower,R,1956
4,Colorado,657074,394479,60.0,6,257997,39.3,NaN,Dwight D. Eisenhower,R,1956
43,Virginia,697978,386459,55.4,12,267760,38.4,NaN,Dwight D. Eisenhower,R,1956
44,Washington,1150889,620430,53.9,9,523002,45.4,NaN,Dwight D. Eisenhower,R,1956
45,West Virginia,830831,449297,54.1,8,381534,45.9,NaN,Dwight D. Eisenhower,R,1956
46,Wisconsin,1550558,954844,61.6,12,586768,37.8,NaN,Dwight D. Eisenhower,R,1956
47,Wyoming,124127,74573,60.1,3,49554,39.9,NaN,Dwight D. Eisenhower,R,1956

1960 table

In [37]:

df_1960 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1960"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1960

#create the dataframe using append and concat
df_1960.append(dataframe)
df_1960 = pd.concat(df_1960, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1960["State"] = df_1960[0]
df_1960["Total Votes"] = df_1960[1]
df_1960["Republican Votes"] = df_1960[5]
df_1960["Republican Percentage"] = df_1960[6]
df_1960["Republican Electoral"] = df_1960[7]
df_1960["Democratic Votes"] = df_1960[2]
df_1960["Democratic Percentage"] = df_1960[3]
df_1960["Democratic Electoral"] = df_1960[4]
df_1960["President Elect"] = str("John F. Kennedy")
df_1960["Winning Party"] = str("D")

#Remove all duplicate columns
df_1960 = df_1960[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 10 rows of the data
df_1960 = df_1960.iloc[9:].reset_index(drop = True)
#Drop every row below 48
df_1960 = df_1960.iloc[:50].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1960.head(15), df_1960.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/2337687889.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama*,570225,237981,41.7,NaN,324050,56.8,5*,John F. Kennedy,D,1960
1,Alaska,60762,30953,50.9,3,29809,49.1,NaN,John F. Kennedy,D,1960
2,Arizona,398491,221241,55.5,4,176781,44.4,NaN,John F. Kennedy,D,1960
3,Arkansas,428509,184508,43.1,NaN,215049,50.2,8,John F. Kennedy,D,1960
4,California,6506578,3259722,50.1,32,3224099,49.6,NaN,John F. Kennedy,D,1960
5,Colorado,736236,402242,54.6,6,330629,44.9,NaN,John F. Kennedy,D,1960
6,Connecticut,1222883,565813,46.3,NaN,657055,53.7,8,John F. Kennedy,D,1960
7,Delaware,196683,96373,49.0,NaN,99590,50.6,3,John F. Kennedy,D,1960
8,Florida,1544176,795476,51.5,10,748700,48.5,NaN,John F. Kennedy,D,1960
9,Georgia,733349,274472,37.4,NaN,458638,62.5,12,John F. Kennedy,D,1960
10,Hawaii,184705,92295,50.0,NaN,92410,50.0,3,John F. Kennedy,D,1960
11,Idaho,300450,161597,53.8,4,138853,46.2,NaN,John F. Kennedy,D,1960
12,Illinois,4757409,2368988,49.8,NaN,2377846,50.0,27,John F. Kennedy,D,1960
13,Indiana,2135360,1175120,55.0,13,952358,44.6,NaN,John F. Kennedy,D,1960
14,Iowa,1273810,722381,56.7,10,550565,43.2,NaN,John F. Kennedy,D,1960
45,Virginia,771449,404521,52.4,12,362327,47.0,NaN,John F. Kennedy,D,1960
46,Washington,1241572,629273,50.7,9,599298,48.3,NaN,John F. Kennedy,D,1960
47,West Virginia,837781,395995,47.3,NaN,441786,52.7,8,John F. Kennedy,D,1960
48,Wisconsin,1729082,895175,51.8,12,830805,48.0,NaN,John F. Kennedy,D,1960
49,Wyoming,140782,77451,55.0,3,63331,45.0,NaN,John F. Kennedy,D,1960

1964 Table

In [38]:
df_1964 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1964"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1964

#create the dataframe using append and concat
df_1964.append(dataframe)
df_1964 = pd.concat(df_1964, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1964["State"] = df_1964[0]
df_1964["Total Votes"] = df_1964[1]
df_1964["Republican Votes"] = df_1964[5]
df_1964["Republican Percentage"] = df_1964[6]
df_1964["Republican Electoral"] = df_1964[7]
df_1964["Democratic Votes"] = df_1964[2]
df_1964["Democratic Percentage"] = df_1964[3]
df_1964["Democratic Electoral"] = df_1964[4]
df_1964["President Elect"] = str("Lyndon B. Johnson")
df_1964["Winning Party"] = str("D")

#Remove all duplicate columns
df_1964 = df_1964[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1964 = df_1964.iloc[10:].reset_index(drop = True)
#Drop every row below 50
df_1964 = df_1964.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1964.head(), df_1964.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1709304266.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,689818,479085,69.5,10,--,0.0,NaN,Lyndon B. Johnson,D,1964
1,Alaska,67259,22930,34.1,NaN,44329,65.9,3,Lyndon B. Johnson,D,1964
2,Arizona,480770,242535,50.4,5,237753,49.5,NaN,Lyndon B. Johnson,D,1964
3,Arkansas,560426,243264,43.4,NaN,314197,56.1,6,Lyndon B. Johnson,D,1964
4,California,7057586,2879108,40.8,NaN,4171877,59.1,40,Lyndon B. Johnson,D,1964
46,Virginia,1042267,481334,46.2,NaN,558038,53.5,12,Lyndon B. Johnson,D,1964
47,Washington,1258556,470366,37.4,NaN,779881,62.0,9,Lyndon B. Johnson,D,1964
48,West Virginia,792040,253953,32.1,NaN,538087,67.9,7,Lyndon B. Johnson,D,1964
49,Wisconsin,1691815,638495,37.7,NaN,1050424,62.1,12,Lyndon B. Johnson,D,1964
50,Wyoming,142716,61998,43.4,NaN,80718,56.6,3,Lyndon B. Johnson,D,1964

1964 Table

In [39]:
df_1968 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1968"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1968

#create the dataframe using append and concat
df_1968.append(dataframe)
df_1968 = pd.concat(df_1968, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1968["State"] = df_1968[0]
df_1968["Total Votes"] = df_1968[1]
df_1968["Republican Votes"] = df_1968[2]
df_1968["Republican Percentage"] = df_1968[3]
df_1968["Republican Electoral"] = df_1968[4]
df_1968["Democratic Votes"] = df_1968[5]
df_1968["Democratic Percentage"] = df_1968[6]
df_1968["Democratic Electoral"] = df_1968[7]
df_1968["President Elect"] = str("Richard Nixon")
df_1968["Winning Party"] = str("R")

#Remove all duplicate columns
df_1968 = df_1968[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1968 = df_1968.iloc[9:].reset_index(drop = True)
#Drop every row below 48
df_1968 = df_1968.iloc[:51].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_1968.head(), df_1968.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/4262740232.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1049922,146923,14.0,NaN,196579,18.7,NaN,Richard Nixon,R,1968
1,Alaska,83035,37600,45.3,3,35411,42.6,NaN,Richard Nixon,R,1968
2,Arizona,486936,266721,54.8,5,170514,35.0,NaN,Richard Nixon,R,1968
3,Arkansas,619969,190759,30.8,NaN,188228,30.4,NaN,Richard Nixon,R,1968
4,California,7251587,3467664,47.8,40,3244318,44.7,NaN,Richard Nixon,R,1968
46,Virginia,1361491,590319,43.4,12,442387,32.5,NaN,Richard Nixon,R,1968
47,Washington,1304281,588510,45.1,NaN,616037,47.2,9,Richard Nixon,R,1968
48,West Virginia,754206,307555,40.8,NaN,374091,49.6,7,Richard Nixon,R,1968
49,Wisconsin,1691538,809997,47.9,12,748804,44.3,NaN,Richard Nixon,R,1968
50,Wyoming,127205,70927,55.8,3,45173,35.5,NaN,Richard Nixon,R,1968

1972 Table

In [40]:
df_1972 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1972"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1972

#create the dataframe using append and concat
df_1972.append(dataframe)
df_1972 = pd.concat(df_1972, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1972["State"] = df_1972[0]
df_1972["Total Votes"] = df_1972[1]
df_1972["Republican Votes"] = df_1972[2]
df_1972["Republican Percentage"] = df_1972[3]
df_1972["Republican Electoral"] = df_1972[4]
df_1972["Democratic Votes"] = df_1972[5]
df_1972["Democratic Percentage"] = df_1972[6]
df_1972["Democratic Electoral"] = df_1972[7]
df_1972["President Elect"] = str("Richard Nixon")
df_1972["Winning Party"] = str("R")

#Remove all duplicate columns
df_1972 = df_1972[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1972 = df_1972.iloc[10:].reset_index(drop = True)
#Drop every row below 50
df_1972 = df_1972.iloc[:51].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_1972.head(), df_1972.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/3228363382.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1006111,728701,72.4,9,256923,25.5,NaN,Richard Nixon,R,1972
1,Alaska,95219,55349,58.1,3,32967,34.6,NaN,Richard Nixon,R,1972
2,Arizona,622926,402812,64.7,6,198540,31.9,NaN,Richard Nixon,R,1972
3,Arkansas,651320,448541,68.9,6,199892,30.7,NaN,Richard Nixon,R,1972
4,California,8367862,4602096,55.0,45,3475847,41.5,NaN,Richard Nixon,R,1972
46,Virginia*,1457019,988493,67.8,11*,438887,30.1,NaN,Richard Nixon,R,1972
47,Washington,1470847,837135,56.9,9,568334,38.6,NaN,Richard Nixon,R,1972
48,West Virginia,762399,484964,63.6,6,277435,36.4,NaN,Richard Nixon,R,1972
49,Wisconsin,1852890,989430,53.4,11,810174,43.7,NaN,Richard Nixon,R,1972
50,Wyoming,145570,100464,69.0,3,44358,30.5,NaN,Richard Nixon,R,1972

1976 Table

In [41]:
df_1976 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1976"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. For this dev code there are two tables so we do
    #have to make sure to grab the second table
tables = soup.find_all("table")
#This grabs the second table
table = tables[1]

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1976

#create the dataframe using append and concat
df_1976.append(dataframe)
df_1976 = pd.concat(df_1976, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1976["State"] = df_1976[0]
df_1976["Total Votes"] = df_1976[1]
df_1976["Republican Votes"] = df_1976[2]
df_1976["Republican Percentage"] = df_1976[3]
df_1976["Republican Electoral"] = df_1976[4]
df_1976["Democratic Votes"] = df_1976[5]
df_1976["Democratic Percentage"] = df_1976[6]
df_1976["Democratic Electoral"] = df_1976[7]
df_1976["President Elect"] = str("Jimmy Carter")
df_1976["Winning Party"] = str("D")

#Remove all duplicate columns
df_1976 = df_1976[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 4 rows of the data
df_1976 = df_1976.iloc[5:].reset_index(drop = True)
#Drop every row below 50
df_1976 = df_1976.iloc[:51].reset_index(drop = True)

# #Check top and bottom 
pd.concat([df_1976.head(15), df_1976.tail(15)])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/3905204104.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1182850,659170,55.7,9,504070,42.6,NaN,Jimmy Carter,D,1976
1,Alaska,123574,44058,35.7,NaN,71555,57.9,3,Jimmy Carter,D,1976
2,Arizona,742719,295602,39.8,NaN,418642,56.4,6,Jimmy Carter,D,1976
3,Arkansas,767535,498604,65.0,6,267903,34.9,NaN,Jimmy Carter,D,1976
4,California,7867117,3742284,47.6,NaN,3882244,49.3,45,Jimmy Carter,D,1976
5,Colorado,1081554,460353,42.6,NaN,584367,54.0,7,Jimmy Carter,D,1976
6,Connecticut,1381526,647895,46.9,NaN,719261,52.1,8,Jimmy Carter,D,1976
7,Delaware,235834,122596,52.0,3,109831,46.6,NaN,Jimmy Carter,D,1976
8,Dist. of Col.,168830,137818,81.6,3,27873,16.5,NaN,Jimmy Carter,D,1976
9,Florida,3150631,1636000,51.9,17,1469531,46.6,NaN,Jimmy Carter,D,1976
10,Georgia,1467458,979409,66.7,12,483743,33.0,NaN,Jimmy Carter,D,1976
11,Hawaii,291301,147375,50.6,4,140003,48.1,NaN,Jimmy Carter,D,1976
12,Idaho,344071,126549,36.8,NaN,204151,59.3,4,Jimmy Carter,D,1976
13,Illinois,4718914,2271295,48.1,NaN,2364269,50.1,26,Jimmy Carter,D,1976
14,Indiana,2220362,1014714,45.7,NaN,1183958,53.3,13,Jimmy Carter,D,1976
36,Oklahoma,1092251,532442,48.7,NaN,545708,50.0,8,Jimmy Carter,D,1976
37,Oregon,1029876,490407,47.6,NaN,492120,47.8,6,Jimmy Carter,D,1976
38,Pennsylvania,4620787,2328677,50.4,27,2205604,47.7,NaN,Jimmy Carter,D,1976
39,Rhode Island,411170,227636,55.4,4,181249,44.1,NaN,Jimmy Carter,D,1976
40,South Carolina,802583,450807,56.2,8,346149,43.1,NaN,Jimmy Carter,D,1976
41,South Dakota,300678,147068,48.9,NaN,151505,50.4,4,Jimmy Carter,D,1976
42,Tennessee,1476345,825879,55.9,10,633969,42.9,NaN,Jimmy Carter,D,1976
43,Texas,4071884,2082319,51.1,26,1953300,48.0,NaN,Jimmy Carter,D,1976
44,Utah,541198,182110,33.6,NaN,337908,62.4,4,Jimmy Carter,D,1976
45,Vermont,187765,80954,43.1,NaN,102085,54.4,3,Jimmy Carter,D,1976
46,Virginia,1697094,813896,48.0,NaN,836554,49.3,12,Jimmy Carter,D,1976
47,Washington*,1555534,717323,46.1,NaN,777732,50.0,8*,Jimmy Carter,D,1976
48,West Virginia,750964,435914,58.0,6,314760,41.9,NaN,Jimmy Carter,D,1976
49,Wisconsin,2104175,1040232,49.4,11,1004987,47.8,NaN,Jimmy Carter,D,1976
50,Wyoming,156343,62239,39.8,NaN,92717,59.3,3,Jimmy Carter,D,1976

1980 Table

In [42]:
df_1980 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1980"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1980

#create the dataframe using append and concat
df_1980.append(dataframe)
df_1980 = pd.concat(df_1980, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1980["State"] = df_1980[0]
df_1980["Total Votes"] = df_1980[1]
df_1980["Republican Votes"] = df_1980[2]
df_1980["Republican Percentage"] = df_1980[3]
df_1980["Republican Electoral"] = df_1980[4]
df_1980["Democratic Votes"] = df_1980[5]
df_1980["Democratic Percentage"] = df_1980[6]
df_1980["Democratic Electoral"] = df_1980[7]
df_1980["President Elect"] = str("Ronald Reagan")
df_1980["Winning Party"] = str("R")

#Remove all duplicate columns
df_1980 = df_1980[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 8 rows of the data
df_1980 = df_1980.iloc[9:].reset_index(drop = True)
#Drop every row below 50
df_1980 = df_1980.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1980.head(), df_1980.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1018073522.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1341929,654192,48.8,9,636730,47.4,NaN,Ronald Reagan,R,1980
1,Alaska,158445,86112,54.3,3,41842,26.4,NaN,Ronald Reagan,R,1980
2,Arizona,873945,529688,60.6,6,246843,28.2,NaN,Ronald Reagan,R,1980
3,Arkansas,837582,403164,48.1,6,398041,47.5,NaN,Ronald Reagan,R,1980
4,California,8587063,4524858,52.7,45,3083661,35.9,NaN,Ronald Reagan,R,1980
46,Virginia,1866032,989609,53.0,12,752174,40.3,NaN,Ronald Reagan,R,1980
47,Washington,1742394,865244,49.7,9,650193,37.3,NaN,Ronald Reagan,R,1980
48,West Virginia,737715,334206,45.3,NaN,367462,49.8,6,Ronald Reagan,R,1980
49,Wisconsin,2273221,1088845,47.9,11,981584,43.2,NaN,Ronald Reagan,R,1980
50,Wyoming,176713,110700,62.6,3,49427,28.0,NaN,Ronald Reagan,R,1980

1984 Table

In [43]:
df_1984 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1984"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1984

#create the dataframe using append and concat
df_1984.append(dataframe)
df_1984 = pd.concat(df_1984, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1984["State"] = df_1984[0]
df_1984["Total Votes"] = df_1984[1]
df_1984["Republican Votes"] = df_1984[2]
df_1984["Republican Percentage"] = df_1984[3]
df_1984["Republican Electoral"] = df_1984[4]
df_1984["Democratic Votes"] = df_1984[5]
df_1984["Democratic Percentage"] = df_1984[6]
df_1984["Democratic Electoral"] = df_1984[7]
df_1984["President Elect"] = str("Ronald Reagan")
df_1984["Winning Party"] = str("R")

#Remove all duplicate columns
df_1984 = df_1984[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1984 = df_1984.iloc[10:].reset_index(drop = True)
#Drop every row below 50
df_1984 = df_1984.iloc[:51].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_1984.head(), df_1984.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/4035072081.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1441713,872849,60.5,9,551899,38.3,NaN,Ronald Reagan,R,1984
1,Alaska,207605,138377,66.7,3,62007,29.9,NaN,Ronald Reagan,R,1984
2,Arizona,1025897,681416,66.4,7,333854,32.5,NaN,Ronald Reagan,R,1984
3,Arkansas,884406,534774,60.5,6,338646,38.3,NaN,Ronald Reagan,R,1984
4,California,9505423,5467009,57.5,47,3922519,41.3,NaN,Ronald Reagan,R,1984
46,Virginia,2146635,1337078,62.3,12,796250,37.1,NaN,Ronald Reagan,R,1984
47,Washington,1883910,1051670,55.8,10,807352,42.9,NaN,Ronald Reagan,R,1984
48,West Virginia,735742,405483,55.1,6,328125,44.6,NaN,Ronald Reagan,R,1984
49,Wisconsin,2211689,1198584,54.2,11,995740,45.0,NaN,Ronald Reagan,R,1984
50,Wyoming,188968,133241,70.5,3,53370,28.2,NaN,Ronald Reagan,R,1984

1988 Table

In [44]:
df_1988 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1988"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1988

#create the dataframe using append and concat
df_1988.append(dataframe)
df_1988 = pd.concat(df_1988, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1988["State"] = df_1988[0]
df_1988["Total Votes"] = df_1988[1]
df_1988["Republican Votes"] = df_1988[2]
df_1988["Republican Percentage"] = df_1988[3]
df_1988["Republican Electoral"] = df_1988[4]
df_1988["Democratic Votes"] = df_1988[5]
df_1988["Democratic Percentage"] = df_1988[6]
df_1988["Democratic Electoral"] = df_1988[7]
df_1988["President Elect"] = str("George H. W. Bush")
df_1988["Winning Party"] = str("R")

#Remove all duplicate columns
df_1988 = df_1988[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1988 = df_1988.iloc[10:].reset_index(drop = True)
#Drop every row below 50
df_1988 = df_1988.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1988.head(), df_1988.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1409139446.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1378476,815576,59.2,9,549506,39.9,NaN,George H. W. Bush,R,1988
1,Alaska,200116,119251,59.6,3,72584,36.3,NaN,George H. W. Bush,R,1988
2,Arizona,1171873,702541,60.0,7,454029,38.7,NaN,George H. W. Bush,R,1988
3,Arkansas,827738,466578,56.4,6,349237,42.2,NaN,George H. W. Bush,R,1988
4,California,9887065,5054917,51.1,47,4702233,47.6,NaN,George H. W. Bush,R,1988
46,Virginia,2191609,1309162,59.7,12,859799,39.2,NaN,George H. W. Bush,R,1988
47,Washington,1865253,903835,48.5,NaN,933516,50.0,10,George H. W. Bush,R,1988
48,West Virginia*,653311,310065,47.5,NaN,341016,52.2,5*,George H. W. Bush,R,1988
49,Wisconsin,2191608,1047499,47.8,NaN,1126794,51.4,11,George H. W. Bush,R,1988
50,Wyoming,176551,106867,60.5,3,67113,38.0,NaN,George H. W. Bush,R,1988

1992 Table

In [45]:
df_1992 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1992"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1992

#create the dataframe using append and concat
df_1992.append(dataframe)
df_1992 = pd.concat(df_1992, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1992["State"] = df_1992[0]
df_1992["Total Votes"] = df_1992[1]
df_1992["Republican Votes"] = df_1992[5]
df_1992["Republican Percentage"] = df_1992[6]
df_1992["Republican Electoral"] = df_1992[7]
df_1992["Democratic Votes"] = df_1992[2]
df_1992["Democratic Percentage"] = df_1992[3]
df_1992["Democratic Electoral"] = df_1992[4]
df_1992["President Elect"] = str("Bill Clinton")
df_1992["Winning Party"] = str("D")

#Remove all duplicate columns
df_1992 = df_1992[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 9 rows of the data
df_1992 = df_1992.iloc[9:].reset_index(drop = True)
#Drop every row below 50
df_1992 = df_1992.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1992.head(), df_1992.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1433862884.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1688060,804283,47.6,9,690080,40.9,NaN,Bill Clinton,D,1992
1,Alaska,258506,102000,39.5,3,78294,30.3,NaN,Bill Clinton,D,1992
2,Arizona,1486975,572086,38.5,8,543050,36.5,NaN,Bill Clinton,D,1992
3,Arkansas,950653,337324,35.5,NaN,505823,53.2,6,Bill Clinton,D,1992
4,California,11131721,3630574,32.6,NaN,5121325,46.0,54,Bill Clinton,D,1992
46,Virginia,2558665,1150517,45.0,13,1038650,40.6,NaN,Bill Clinton,D,1992
47,Washington,2288230,731234,32.0,NaN,993037,43.4,11,Bill Clinton,D,1992
48,West Virginia,683762,241974,35.4,NaN,331001,48.4,5,Bill Clinton,D,1992
49,Wisconsin,2531114,930855,36.8,NaN,1041066,41.1,11,Bill Clinton,D,1992
50,Wyoming,200598,79347,39.6,3,68160,34.0,NaN,Bill Clinton,D,1992

1996 Table

In [46]:
df_1996 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/1996"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 1996

#create the dataframe using append and concat
df_1996.append(dataframe)
df_1996 = pd.concat(df_1996, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_1996["State"] = df_1996[0]
df_1996["Total Votes"] = df_1996[1]
df_1996["Republican Votes"] = df_1996[5]
df_1996["Republican Percentage"] = df_1996[6]
df_1996["Republican Electoral"] = df_1996[7]
df_1996["Democratic Votes"] = df_1996[2]
df_1996["Democratic Percentage"] = df_1996[3]
df_1996["Democratic Electoral"] = df_1996[4]
df_1996["President Elect"] = str("Bill Clinton")
df_1996["Winning Party"] = str("D")

#Remove all duplicate columns
df_1996 = df_1996[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 8 rows of the data
df_1996 = df_1996.iloc[9:].reset_index(drop = True)
#Drop every row below 48
df_1996 = df_1996.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_1996.head(), df_1996.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/2163538421.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1534349,769044,50.1,9,662165,43.2,NaN,Bill Clinton,D,1996
1,Alaska,241620,122746,50.8,3,80380,33.3,NaN,Bill Clinton,D,1996
2,Arizona,1404405,622073,44.3,NaN,653288,46.5,8,Bill Clinton,D,1996
3,Arkansas,884262,325416,36.8,NaN,475171,53.7,6,Bill Clinton,D,1996
4,California,10019484,3828380,38.2,NaN,5119835,51.1,54,Bill Clinton,D,1996
46,Virginia,2416642,1138350,47.1,13,1091060,45.1,NaN,Bill Clinton,D,1996
47,Washington,2253837,840712,37.3,NaN,1123323,49.8,11,Bill Clinton,D,1996
48,West Virginia,636459,233946,36.8,NaN,327812,51.5,5,Bill Clinton,D,1996
49,Wisconsin,2196169,845029,38.5,NaN,1071971,48.8,11,Bill Clinton,D,1996
50,Wyoming,211571,105388,49.8,3,77934,36.8,NaN,Bill Clinton,D,1996

2020 Table

In [47]:
df_2000 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2000"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2000

#create the dataframe using append and concat
df_2000.append(dataframe)
df_2000 = pd.concat(df_2000, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2000["State"] = df_2000[0]
df_2000["Total Votes"] = df_2000[1]
df_2000["Republican Votes"] = df_2000[2]
df_2000["Republican Percentage"] = df_2000[3]
df_2000["Republican Electoral"] = df_2000[4]
df_2000["Democratic Votes"] = df_2000[5]
df_2000["Democratic Percentage"] = df_2000[6]
df_2000["Democratic Electoral"] = df_2000[7]
df_2000["President Elect"] = str("George W. Bush")
df_2000["Winning Party"] = str("R")

#Remove all duplicate columns
df_2000 = df_2000[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 8 rows of the data
df_2000 = df_2000.iloc[9:].reset_index(drop = True)
#Drop every row below 50
df_2000 = df_2000.iloc[:51].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_2000.head(), df_2000.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1121535106.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1666272,941173,56.5,9,692611,41.6,NaN,George W. Bush,R,2000
1,Alaska,285560,167398,58.6,3,79004,27.7,NaN,George W. Bush,R,2000
2,Arizona,1532016,781652,51.0,8,685341,44.7,NaN,George W. Bush,R,2000
3,Arkansas,921781,472940,51.3,6,422768,45.9,NaN,George W. Bush,R,2000
4,California,10965856,4567429,41.7,NaN,5861203,53.4,54,George W. Bush,R,2000
46,Virginia,2739447,1437490,52.5,13,1217290,44.4,NaN,George W. Bush,R,2000
47,Washington,2487433,1108864,44.6,NaN,1247652,50.2,11,George W. Bush,R,2000
48,West Virginia,648124,336475,51.9,5,295497,45.6,NaN,George W. Bush,R,2000
49,Wisconsin,2598607,1237279,47.6,NaN,1242987,47.8,11,George W. Bush,R,2000
50,Wyoming,218351,147947,67.8,3,60481,27.7,NaN,George W. Bush,R,2000

2004 Table

In [48]:
df_2004 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2004"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2004

#create the dataframe using append and concat
df_2004.append(dataframe)
df_2004 = pd.concat(df_2004, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2004["State"] = df_2004[0]
df_2004["Total Votes"] = df_2004[1]
df_2004["Republican Votes"] = df_2004[2]
df_2004["Republican Percentage"] = df_2004[3]
df_2004["Republican Electoral"] = df_2004[4]
df_2004["Democratic Votes"] = df_2004[5]
df_2004["Democratic Percentage"] = df_2004[6]
df_2004["Democratic Electoral"] = df_2004[7]
df_2004["President Elect"] = str("George W. Bush")
df_2004["Winning Party"] = str("R")

#Remove all duplicate columns
df_2004 = df_2004[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 8 rows of the data
df_2004 = df_2004.iloc[9:].reset_index(drop = True)
#Drop every row below 48
df_2004 = df_2004.iloc[:51].reset_index(drop = True)

#Check top and bottom of data to ensure that the table looks correct
pd.concat([df_2004.head(), df_2004.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/2570025840.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,1883449,1176394,62.5,9,693933,36.8,NaN,George W. Bush,R,2004
1,Alaska,312598,190889,61.1,3,111025,35.5,NaN,George W. Bush,R,2004
2,Arizona,2012585,1104294,54.9,10,893524,44.4,NaN,George W. Bush,R,2004
3,Arkansas,1054945,572898,54.3,6,469953,44.5,NaN,George W. Bush,R,2004
4,California,12421852,5509826,44.4,NaN,6745485,54.3,55,George W. Bush,R,2004
46,Virginia,3198367,1716959,53.7,13,1454742,45.5,NaN,George W. Bush,R,2004
47,Washington,2859084,1304894,45.6,NaN,1510201,52.8,11,George W. Bush,R,2004
48,West Virginia,755887,423778,56.1,5,326541,43.2,NaN,George W. Bush,R,2004
49,Wisconsin,2997007,1478120,49.3,NaN,1489504,49.7,10,George W. Bush,R,2004
50,Wyoming,243428,167629,68.9,3,70776,29.1,NaN,George W. Bush,R,2004

2008 Table

In [49]:
df_2008 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2008"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2008

#create the dataframe using append and concat
df_2008.append(dataframe)
df_2008 = pd.concat(df_2008, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2008["State"] = df_2008[0]
df_2008["Total Votes"] = df_2008[1]
df_2008["Republican Votes"] = df_2008[5]
df_2008["Republican Percentage"] = df_2008[6]
df_2008["Republican Electoral"] = df_2008[7]
df_2008["Democratic Votes"] = df_2008[2]
df_2008["Democratic Percentage"] = df_2008[3]
df_2008["Democratic Electoral"] = df_2008[4]
df_2008["President Elect"] = str("Barack Obama")
df_2008["Winning Party"] = str("D")

#Remove all duplicate columns
df_2008 = df_2008[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", "Winning Party", "year"]]

#Drop the first 10 rows of the data
df_2008 = df_2008.iloc[9:].reset_index(drop = True)
#Drop every row below 48
df_2008 = df_2008.iloc[:51].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_2008.head(), df_2008.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/3463852148.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,2099819,1266546,60.3%,9,813479,38.7%,NaN,Barack Obama,D,2008
1,Alaska,326197,193841,59.4%,3,123594,37.9%,NaN,Barack Obama,D,2008
2,Arizona,2293475,1230111,53.6%,10,1034707,45.1%,NaN,Barack Obama,D,2008
3,Arkansas,1086617,638017,58.7%,6,422310,38.9%,NaN,Barack Obama,D,2008
4,California,13561900,5011781,37.0%,NaN,8274473,61.0%,55,Barack Obama,D,2008
46,Virginia,3723260,1725005,46.3%,NaN,1959532,52.6%,13,Barack Obama,D,2008
47,Washington,3036878,1229216,40.5%,NaN,1750848,57.7%,11,Barack Obama,D,2008
48,West Virginia,713362,397466,55.7%,5,303857,42.6%,NaN,Barack Obama,D,2008
49,Wisconsin,2983417,1262393,42.3%,NaN,1677211,56.2%,10,Barack Obama,D,2008
50,Wyoming,256035,164958,64.4%,3,82868,32.4%,NaN,Barack Obama,D,2008

2012 Table

In [50]:
df_2012 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2012"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2012

#create the dataframe using append and concat
df_2012.append(dataframe)
df_2012 = pd.concat(df_2012, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2012["State"] = df_2012[0]
df_2012["Total Votes"] = df_2012[1]
df_2012["Republican Votes"] = df_2012[5]
df_2012["Republican Percentage"] = df_2012[6]
df_2012["Republican Electoral"] = df_2012[7]
df_2012["Democratic Votes"] = df_2012[2]
df_2012["Democratic Percentage"] = df_2012[3]
df_2012["Democratic Electoral"] = df_2012[4]
df_2012["President Elect"] = str("Barack Obama")
df_2012["Winning Party"] = str("D")

#Remove all duplicate columns
df_2012 = df_2012[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", 
                  "Winning Party", "year"]]

#Drop the first 10 rows of the data
df_2012 = df_2012.iloc[11:].reset_index(drop = True)
#Drop every row below 50
df_2012 = df_2012.iloc[:51].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_2012.head(), df_2012.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/4149678721.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,2074338,1255925,60.5%,9,795696,38.4%,NaN,Barack Obama,D,2012
1,Alaska,300495,164676,54.8%,3,122640,40.8%,NaN,Barack Obama,D,2012
2,Arizona,2299254,1233654,53.7%,11,1025232,44.6%,NaN,Barack Obama,D,2012
3,Arkansas,1069468,647744,60.6%,6,394409,36.9%,NaN,Barack Obama,D,2012
4,California,13038547,4839958,37.1%,NaN,7854285,60.2%,55,Barack Obama,D,2012
46,Virginia,3854490,1822522,47.3%,NaN,1971820,51.2%,13,Barack Obama,D,2012
47,Washington,3125516,1290670,41.3%,NaN,1755396,56.2%,12,Barack Obama,D,2012
48,West Virginia,670438,417655,62.3%,5,238269,35.5%,NaN,Barack Obama,D,2012
49,Wisconsin,3071434,1410966,46.0%,NaN,1620985,52.9%,10,Barack Obama,D,2012
50,Wyoming,249061,170962,68.6%,3,69286,27.8%,NaN,Barack Obama,D,2012

2016 Table

In [51]:
df_2016 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2016"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2016

#create the dataframe using append and concat
df_2016.append(dataframe)
df_2016 = pd.concat(df_2016, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2016["State"] = df_2016[0]
df_2016["Total Votes"] = df_2016[1]
df_2016["Republican Votes"] = df_2016[5]
df_2016["Republican Percentage"] = df_2016[6]
df_2016["Republican Electoral"] = df_2016[7]
df_2016["Democratic Votes"] = df_2016[2]
df_2016["Democratic Percentage"] = df_2016[3]
df_2016["Democratic Electoral"] = df_2016[4]
df_2016["President Elect"] = str("Donald Trump")
df_2016["Winning Party"] = str("R")

#Remove all duplicate columns
df_2016 = df_2016[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", 
                  "Winning Party", "year"]]

#Drop the first 13 rows of the data
df_2016 = df_2016.iloc[14:].reset_index(drop = True)
#Drop every row below 53
df_2016 = df_2016.iloc[:54].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_2016.head(), df_2016.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/2658665327.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,2123372,1318255,62.1%,9,729547,34.4%,NaN,Donald Trump,R,2016
1,Alaska,318608,163387,51.3%,3,116454,36.6%,NaN,Donald Trump,R,2016
2,Arizona,2573165,1252401,48.7%,11,1161167,45.1%,NaN,Donald Trump,R,2016
3,Arkansas,1130635,684872,60.6%,6,380494,33.7%,NaN,Donald Trump,R,2016
4,California,14181595,4483810,31.6%,NaN,8753788,61.7%,55,Donald Trump,R,2016
49,Virginia,3982752,1769443,44.4%,NaN,1981473,49.8%,13,Donald Trump,R,2016
50,Washington,3209214,1221747,38.1%,NaN,1742718,54.3%,12,Donald Trump,R,2016
51,West Virginia,713051,489371,68.6%,5,188794,26.5%,NaN,Donald Trump,R,2016
52,Wisconsin,2976150,1405284,47.2%,10,1382536,46.5%,NaN,Donald Trump,R,2016
53,Wyoming,255849,174419,68.2%,3,55973,21.9%,NaN,Donald Trump,R,2016

2020 Table

In [52]:
df_2020 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2020"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2020

#create the dataframe using append and concat
df_2020.append(dataframe)
df_2020 = pd.concat(df_2020, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2020["State"] = df_2020[0]
df_2020["Total Votes"] = df_2020[1]
df_2020["Republican Votes"] = df_2020[5]
df_2020["Republican Percentage"] = df_2020[6]
df_2020["Republican Electoral"] = df_2020[7]
df_2020["Democratic Votes"] = df_2020[2]
df_2020["Democratic Percentage"] = df_2020[3]
df_2020["Democratic Electoral"] = df_2020[4]
df_2020["President Elect"] = str("Joe Biden")
df_2020["Winning Party"] = str("D")

#Remove all duplicate columns
df_2020 = df_2020[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", 
                  "Winning Party", "year"]]

#Drop the first 12 rows of the data
df_2020 = df_2020.iloc[13:].reset_index(drop = True)
#Drop every row below 55
df_2020 = df_2020.iloc[:56].reset_index(drop = True)

#Check top and bottom of data
pd.concat([df_2020.head(), df_2020.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/621203443.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,2323282,1441170,62.03%,9,849624,36.57%,NaN,Joe Biden,D,2020
1,Alaska,359530,189951,52.83%,3,153778,42.77%,NaN,Joe Biden,D,2020
2,Arizona,3387326,1661686,49.06%,NaN,1672143,49.36%,11,Joe Biden,D,2020
3,Arkansas,1219069,760647,62.40%,6,423932,34.78%,NaN,Joe Biden,D,2020
4,California,17500881,6006429,34.32%,NaN,11110250,63.48%,55,Joe Biden,D,2020
51,Virginia,4460524,1962430,44.00%,NaN,2413568,54.11%,13,Joe Biden,D,2020
52,Washington,4087631,1584651,38.77%,NaN,2369612,57.97%,12,Joe Biden,D,2020
53,West Virginia,794652,545382,68.63%,5,235984,29.70%,NaN,Joe Biden,D,2020
54,Wisconsin,3298041,1610184,48.82%,NaN,1630866,49.45%,10,Joe Biden,D,2020
55,Wyoming,276765,193559,69.94%,3,73491,26.55%,NaN,Joe Biden,D,2020

2024 Table

In [53]:
df_2024 = []

url = f"https://www.presidency.ucsb.edu/statistics/elections/2024"
    #We use requests to get the URL
webpage = requests.get(url)
    #We then use the beautifulsoup function to use an html parser to scan the dev text of the website
soup = BeautifulSoup(webpage.text, "html.parser")
    #the .find  function will look through soup to find the word table. Since there is only one table in the dev text we don't need to worry
    #about it the wrong table being tagged
table = soup.find("table")

    #We then use read_html from pandas to scrape the tagged section of the dev code. Str() converts the contents to string type. [0] returns a df
dataframe = pd.read_html(str(table))[0]
    #this adds year as a variable in the data frame
dataframe["year"] = 2024

#create the dataframe using append and concat
df_2024.append(dataframe)
df_2024 = pd.concat(df_2024, ignore_index = True)

#Rename columns to the correct varaible names and add president elect and party
df_2024["State"] = df_2024[0]
df_2024["Total Votes"] = df_2024[1]
df_2024["Republican Votes"] = df_2024[5]
df_2024["Republican Percentage"] = df_2024[6]
df_2024["Republican Electoral"] = df_2024[7]
df_2024["Democratic Votes"] = df_2024[2]
df_2024["Democratic Percentage"] = df_2024[3]
df_2024["Democratic Electoral"] = df_2024[4]
df_2024["President Elect"] = str("Donald Trump")
df_2024["Winning Party"] = str("R")

#Remove all duplicate columns
df_2024 = df_2024[["State", "Total Votes", "Republican Votes", 
                  "Republican Percentage", "Republican Electoral", "Democratic Votes",
                  "Democratic Percentage", "Democratic Electoral", "President Elect", 
                  "Winning Party", "year"]]

#Drop the first 12 rows of the data
df_2024 = df_2024.iloc[13:].reset_index(drop = True)
#Drop every row below 55
df_2024 = df_2024.iloc[:56].reset_index(drop = True)

#Check top and bottom of data 
pd.concat([df_2024.head(), df_2024.tail()])

/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/1513066674.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe = pd.read_html(str(table))[0]

,State,Total Votes,Republican Votes,Republican Percentage,Republican Electoral,Democratic Votes,Democratic Percentage,Democratic Electoral,President Elect,Winning Party,year
0,Alabama,2265090,1462616,64.57%,9,772412,34.10%,NaN,Donald Trump,R,2024
1,Alaska,338177,184458,54.54%,3,140026,41.41%,NaN,Donald Trump,R,2024
2,Arizona,3390161,1770242,52.22%,11,1582860,46.69%,NaN,Donald Trump,R,2024
3,Arkansas,1182676,759241,64.20%,6,396905,33.56%,NaN,Donald Trump,R,2024
4,California,15865475,6081697,38.33%,NaN,9276179,58.47%,54,Donald Trump,R,2024
51,Virginia,4505941,2075085,46.05%,NaN,2335395,51.83%,13,Donald Trump,R,2024
52,Washington,3924243,1530923,39.01%,NaN,2245849,57.23%,12,Donald Trump,R,2024
53,West Virginia,762390,533556,69.98%,4,214309,28.11%,NaN,Donald Trump,R,2024
54,Wisconsin,3415787,1697626,49.70%,10,1668229,48.84%,NaN,Donald Trump,R,2024
55,Wyoming,269048,192633,71.60%,3,69527,25.84%,NaN,Donald Trump,R,2024

Now we combine all of our tables into one dataframe

In [54]:
#we can add all data together by combining data frames and using concat to create one big dataframe

election_years = [df_1948, df_1952, df_1956, df_1960, df_1964, df_1968,
           df_1972, df_1976, df_1980, df_1984, df_1988, df_1992,
           df_1996, df_2000, df_2004, df_2008, df_2012, df_2016, df_2020, df_2024]

election_df = pd.concat(election_years, ignore_index = True)


#We use fillna to relace missing values or -- with 0
election_df = election_df.fillna(0)
election_df = election_df.replace("--", 0)

#We use regex to strip all asterisks
election_df = election_df.replace("\*", "", regex=True)

<>:15: SyntaxWarning: invalid escape sequence '\*'
<>:15: SyntaxWarning: invalid escape sequence '\*'
/var/folders/g0/nsxm0s0x64z69dg0l2b9mf4m0000gn/T/ipykernel_83231/756120839.py:15: SyntaxWarning: invalid escape sequence '\*'
  election_df = election_df.replace("\*", "", regex=True)

In [55]:
#We can now write this data to a .csv file

election_df.to_csv("election_data.csv")